<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Etecsa @DateTime.Now.Year.ToString()</title>

    @* carga todo el bootstrap *@

    @* carga las css de aquí *@
    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />

        <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css"/>

        <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/site.css"/>

    </environment>

    @* en producción carga la css minificada *@
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/main.min.css"/>
    </environment>


</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" asp-page="/Index">Etecsa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a asp-page="/Ayuda" class="nav-link">Ayuda</a></li>
                <li class="nav-item active"><a asp-page="/About" class="nav-link">Acerca de</a></li>
            </ul>
        </div>
    </nav>



    @* carga los js *@
    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/datatables.min.js"></script>
        <script type="text/javascript" src="~/js/dexie.js"></script>

        <!-- <script src="~/js/site.js" asp-append-version="true"></script> -->
        <script type="text/javascript" src="~/js/site.js"></script>

    </environment>

    @* en producción, carga los minificados*@
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/main.min.js" asp-append-version="true"/></script>
    </environment>


    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
