@page
@model AyudaModel

<br />
<br />
<br />

<div class="container">

   <div class="row justify-content-center">

      <h3>Cómo buscar nombres</h3>

      <p>En el campo buscar debe poner una combinación de nombres y apellidos continuos. Al menos dos palabras, de otra forma, no se ejecutará la búsqueda.</p>

      <p>Recuerda que la base de datos de etecsa no usa caracteres especiales, como por ejemplo, letras acentuadas.</p>

      <p>Si por ejemplo, desea buscar la persona <b>Lázaro Armando Martínez Fernández</b> escriba <b>lazaro armando</b>. Podría escribir también <i>lazaro armando martinez</i> pero quizás usted no sepa como se escriben los apellidos o no conozca el órden de los apellidos.</p>

      <img src="/images/comobuscar.png" alt="Buscando en la tabla" class="img-rounded">

      <p>Una vez que la base de datos halla devuelto una tabla con todos los <q>Lázaro Armando<b>s</b></q> habidos y por haber, entonces puede usar el campo <b>Filtrar Vista</b> para seleccionar un subconjunto de los que ya están contenidos en la tabla. Por ejemplo, si no aparece por Martine<b>s</b> entonces escriba Martine<b>z</b></p>

   </div>

</div>